server:
  port: 8088

spring:
  datasource:
    url: jdbc:h2:file:./h2/testDb
    platform: h2
    username: sa
    password:
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
